@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Poppins&family=Shrikhand&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ff-third {
  font-family: "Shrikhand", cursive;
}

.ff-second {
  font-family: "Eczar", serif;
}

.ff-first {
  font-family: "Poppins", sans-serif;
}

.text-amarillo {
  color: #ceb91f;
}

.text-negro {
  color: #223843;
}

.text-negroOscuro {
  color: #192a33;
}

.text-blanco {
  color: #eff1f3;
}

.text-cremaClaro {
  color: #dbd3d8;
}

.text-crema {
  color: #d8b4a0;
}

.text-naranja {
  color: #d77a61;
}

.text-salmon {
  color: #ff818c;
}

.text-0 {
  color: #000;
}

.bg-negro {
  background-color: #223843;
}

.bg-negroOscuro {
  background-color: #192a33;
}

.bg-blanco {
  background-color: #eff1f3;
}

.bg-cremaClaro {
  background-color: #dbd3d8;
}

.bg-crema {
  background-color: #d8b4a0;
}

.bg-naranja {
  background-color: #d77a61;
}

.bg-salmon {
  background-color: #ff818c;
}

body {
  background-color: #192a33;
}

.hero {
  background-image: linear-gradient(rgba(34, 56, 67, 0.2), rgba(34, 56, 67, 0.9)), url("../img/fondo1920x1080.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
}

.sticky {
  position: sticky;
  top: 12vh;
}

.navbar-toggler {
  background-color: #223843;
}
.navbar-toggler:focus {
  box-shadow: inherit;
}
.navbar-toggler :hover {
  border-radius: 10px;
}

.accordion-button {
  border: none;
  background-color: #223843;
}
.accordion-button:not(.collapsed) {
  color: #d77a61;
  background-color: #223843;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}
.accordion-button:focus {
  box-shadow: inherit;
}

.accordion-item {
  border: none;
  background-color: #192a33;
}

.itemlist:hover {
  background-color: #192a33;
  color: #ceb91f;
  box-shadow: inherit;
  transition: 0.3s ease-in-out;
}

.celda {
  width: 2.5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #223843;
}
.celda:focus {
  outline: 2px solid #0a58ca;
}

.botonAddPedido {
  border: none;
  font-size: 0.9rem;
}
.botonAddPedido:hover {
  background-color: #c29612;
}

.botonUsuario {
  background-color: #223843;
  border: none;
}
.botonUsuario:hover {
  color: #ceb91f;
}

#boton-mobile {
  z-index: 1;
}

.user:focus {
  background-color: #223843;
  color: #dbd3d8;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.btn-cuantitativo {
  width: 2rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

.btn-sumar {
  background-color: #198754;
}
.btn-sumar:hover {
  background-color: #167549;
}
.btn-sumar:focus {
  box-shadow: #146c43;
}
.btn-sumar:active {
  background-color: #146c43;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-disminuir {
  background-color: #dc3545;
}
.btn-disminuir:hover {
  background-color: #bb2d3b;
}
.btn-disminuir:focus {
  box-shadow: #b02a37;
}
.btn-disminuir:active {
  background-color: #b02a37;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-form-success {
  text-decoration: none;
  border: none;
  transition: all 0.2s;
}
.btn-form-success:hover {
  background: #b16651;
}
.btn-form-success:focus, .btn-form-success:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.activado:hover {
  background-color: #192e3a;
  transition: 0.3s linear all;
}

.itemlistPedido:hover {
  background-color: #192a33;
  transition: linear 0.3s all;
}

/*# sourceMappingURL=styles.css.map */
