//icono del menu hamburguesa
.navbar-toggler {
  background-color: map-get($colores, "primero");
  &:focus {
    box-shadow: inherit;
  }
  & :hover {
    border-radius: 10px;
  }
}

// acordion
.accordion-button {
  border: none;
  background-color: map-get($colores, "primero");
  &:not(.collapsed) {
    color: map-get($colores, "quinto");
    background-color: map-get($colores, "primero");
    &::after {
      filter: brightness(0%) invert(100%);
    }
  }
  &:focus {
    box-shadow: inherit;
  }
}
.accordion-item {
  border: none;
  background-color: map-get($colores, "primeroOscuro");
}

//items del acordion
.itemlist {
  &:hover {
    background-color: map-get($colores, "primeroOscuro");
    color: map-get($colores, "septimo");
    box-shadow: inherit;
    transition: 0.3s ease-in-out;
  }
}

// input number
.celda {
  width: 2.5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: map-get($colores, "primero");
  &:focus {
    outline: 2px solid #0a58ca;
  }
}

.botonAddPedido {
  border: none;
  font-size: 0.9rem;
  &:hover {
    background-color: #c29612;
  }
}

.botonUsuario {
  background-color: map-get($colores, "primero");
  border: none;
  &:hover {
    background-color: map-get($colores, "primeroOcuro");
    color: map-get($colores, "septimo");
  }
}
#boton-mobile {
  z-index: 1;
}
.user:focus {
  background-color: map-get($colores, "primero");
  color: map-get($colores, "tercero");
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.btn-cuantitativo {
  width: 2rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}
.btn-sumar {
  background-color: #198754;
  &:hover {
    background-color: #167549;
  }
  &:focus {
    box-shadow: #146c43;
  }
  &:active {
    background-color: #146c43;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}
.btn-disminuir {
  background-color: #dc3545;
  &:hover {
    background-color: #bb2d3b;
  }
  &:focus {
    box-shadow: #b02a37;
  }
  &:active {
    background-color: #b02a37;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

.btn-form-success {
  text-decoration: none;
  border: none;
  transition: all 0.2s;
  &:hover {
    background: #b16651;
  }
  &:focus,
  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
  }
}
